@rendermode InteractiveServer

@using Microsoft.AspNetCore.Components.Web

@inject NavigationManager NavManager

<style>
    .boton-accesos {
        color: var(--colorEnlace);
        background: transparent;
        text-align: center;
        border: 0;
        width: 100%;
        text-decoration: underline;
        transition: transform .2s;
    }

        .boton-accesos:hover {
            color: var(--colorEnlaceHover);
            transform: scale(1.01);
        }
</style>

<style>
    .caja-accesos-contenido {
        background-color: var(--fondoSubsubcabecera);
        border: 2px solid var(--fondoSubcabecera);
        padding: 40px;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.28),0px 0px 2px 0px rgba(0, 0, 0, 0.24);
        max-width: 600px;
    }
</style>

<div class="caja-accesos-contenido" style="margin: 40px auto;">
    <div style="display: flex; align-items: center;">

        @if (mostrarLogin == true)
        {
            <button @onclick="@(e => AbrirLogin(e))" class="boton-accesos">
                @Herramientas.Idiomas.BuscarTexto(idioma, "String3", "AccountLinks")
            </button>
        }

        @if (mostrarRegistro == true)
        {
            <button @onclick="@(e => AbrirRegistro(e))" class="boton-accesos">
                @Herramientas.Idiomas.BuscarTexto(idioma, "String2", "AccountLinks")
            </button>
        }

        @if (mostrarContraseñaOlvidada == true)
        {
            <button @onclick="@(e => AbrirContraseñaOlvidada(e))" class="boton-accesos">
                @Herramientas.Idiomas.BuscarTexto(idioma, "String1", "AccountLinks")
            </button>
        }
    </div>
</div>

@code {

    #nullable disable

    [Parameter]
    public string idioma { get; set; }

    [Parameter]
    public bool mostrarLogin { get; set; } = true;

    [Parameter]
    public bool mostrarRegistro { get; set; } = true;

    [Parameter]
    public bool mostrarContraseñaOlvidada { get; set; } = true;

    private void AbrirLogin(MouseEventArgs e)
    {
        NavManager.NavigateTo("/account/login/", true, false);
    }

    private void AbrirRegistro(MouseEventArgs e)
    {
        NavManager.NavigateTo("/account/register/", true, false);
    }

    private void AbrirContraseñaOlvidada(MouseEventArgs e)
    {
        NavManager.NavigateTo("/account/forgot-password/", true, false);
    }
}
