@page "/account/login"

@attribute [ExcludeFromInteractiveRouting]

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using pepeizqs_deals_blazor_web.Componentes.Account
@using pepeizqs_deals_blazor_web.Componentes.Account.Shared
@using pepeizqs_deals_web.Data

@inject IHttpContextAccessor Contexto
@inject SignInManager<Usuario> SignInManager
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<style>
    .caja-login-contenido {
        background-color: var(--fondoSubsubcabecera);
        border: 2px solid var(--fondoSubcabecera);
        padding: 40px;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.28),0px 0px 2px 0px rgba(0, 0, 0, 0.24);
        max-width: 600px;
    }
</style>

@{
    string titulo = Herramientas.Idiomas.BuscarTexto(idioma, "Title", "Login") + " • pepe's deals";
    string enlace = "https://" + dominio + "/login";
    string imagen = "https://" + dominio + "/logo/logoentrada.webp";
}

<HeadContent>
    <PageTitle>@titulo</PageTitle>

    <meta name="og:title" content="@titulo" />
    <meta name="og:url" content="@enlace" />
    <meta name="og:image" content="@imagen" />
    <meta name="og:site_name" content="pepe's deals" />
    <meta name="og:type" content="website" />
    <meta name="robots" content="index, follow" />

</HeadContent>

<div class="caja-login-contenido" style="margin: 40px auto;">
    @if (string.IsNullOrEmpty(mensajeError) == false)
    {
        <div style="margin-bottom: 20px; background-color: var(--fondoPeligro); padding: 15px 20px;">
            @mensajeError
        </div>
    }

    <EditForm Model="Input" method="post" OnValidSubmit="LoginUser" FormName="login">
        <DataAnnotationsValidator />
        <div class="texto-info">@Herramientas.Idiomas.BuscarTexto(idioma, "String1", "Login")</div>
        <hr />
        <ValidationSummary class="texto-peligro-entrada" role="alert" />

        <div style="margin-bottom: 20px;">
            <label for="Input.Email" class="texto-info-entrada">@Herramientas.Idiomas.BuscarTexto(idioma, "String2", "Login")</label>
            <InputText @bind-Value="Input.Email" id="Input.Email" class="entrada-texto" autocomplete="username" aria-required="true" placeholder="@Herramientas.Idiomas.BuscarTexto(idioma, "String4", "Login")" />

            <ValidationMessage For="() => Input.Email" class="texto-peligro-entrada" />
        </div>

        <div style="margin-bottom: 20px;">
            <label for="Input.Password" class="texto-info-entrada">@Herramientas.Idiomas.BuscarTexto(idioma, "String3", "Login")</label>
            <InputText type="password" @bind-Value="Input.Password" id="Input.Password" class="entrada-texto" autocomplete="current-password" aria-required="true" placeholder="@Herramientas.Idiomas.BuscarTexto(idioma, "String5", "Login")" />

            <ValidationMessage For="() => Input.Password" class="texto-peligro-entrada" />
        </div>

        <div style="margin: 30px 0px 20px 0px;">
            <div style="display: flex; align-items: center; gap: 15px;">
                <div class="checkbox-caja">
                    <InputCheckbox @bind-Value="Input.RememberMe" class="checkbox-interior" />
                </div>

                <div style="cursor: pointer;">
                    @Herramientas.Idiomas.BuscarTexto(idioma, "String6", "Login")
                </div>
            </div>
        </div>

        @if (Herramientas.Bots.UserAgentEsBot(userAgent) == false)
        {
            <div>
                <button id="login-submit" type="submit" class="boton-pequeño" style="text-align: center; font-size: 20px; padding: 15px 20px;">
                    @Herramientas.Idiomas.BuscarTexto(idioma, "String7", "Login")
                </button>
            </div>
        }       
    </EditForm>
</div>

<Accesos idioma="@idioma" mostrarLogin="false" />

@code {

    #nullable disable

    private string idioma = "en";
    private string usuarioId = null;
    private string userAgent = null;
    private string dominio = null;

    private string mensajeError = string.Empty;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Herramientas.ContextoUsuarioDatos datos = Herramientas.ContextoUsuario.Leer(Contexto);
        idioma = datos.Idioma;
        usuarioId = datos.UsuarioId;
        userAgent = datos.UserAgent;
        dominio = datos.Dominio;

        if (string.IsNullOrEmpty(usuarioId) == false)
        {
            idioma = BaseDatos.Usuarios.Buscar.IdiomaSobreescribir(usuarioId);
        }

        if (Contexto.HttpContext != null)
        {
            if (HttpMethods.IsGet(Contexto.HttpContext.Request.Method))
            {
                try
                {
                    await Contexto.HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
                }
                catch { }
            }
        } 
    }

    public async Task LoginUser()
    {
        SignInResult resultado = null;

        try
        {
            resultado = await SignInManager.PasswordSignInAsync(Input.Email, Input.Password, Input.RememberMe, lockoutOnFailure: false);
        }
        catch { }

        if (resultado != null)
        {
            if (resultado.Succeeded == true)
            {
                RedirectManager.RedirectTo("/");
            }
            else
            {
                mensajeError = Herramientas.Idiomas.BuscarTexto(idioma, "String9", "Login");
            }
        }
        else
        {
            mensajeError = Herramientas.Idiomas.BuscarTexto(idioma, "String8", "Login");
        }
    }

    private sealed class InputModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = "";

        [Required]
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";

        [Display(Name = "Remember me?")]
        public bool RememberMe { get; set; }
    }
}
