@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Identity
@using pepeizqs_deals_web.Data

@inject UserManager<Usuario> UserManager
@inject IHttpContextAccessor HttpContextAccessor

<style>
	.caja-cuenta-contenido {
		background-color: var(--fondoSubsubcabecera);
		box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.28),0px 0px 2px 0px rgba(0, 0, 0, 0.24);
	}

	.caja-cuenta-titulo {
		background: color-mix(in srgb, var(--fondoSubcabecera) 45%, var(--fondoBotonPequeño));
		font-size: 16px;
		padding: 20px 30px;
		border: 1px solid var(--fondoSubsubcabecera);
	}
</style>

<div style="display: flex; flex-direction: column; gap: 30px;">
	<div class="caja-cuenta-contenido">
		<div class="caja-cuenta-titulo">
			@Herramientas.Idiomas.BuscarTexto(idioma, "String1", "AccountNotificationsMail")
		</div>

		<div style="padding: 30px;">
			<div style="display: flex; align-items: start; gap: 30px;">
				<div class="checkbox-caja">
					<input type="checkbox" class="checkbox-interior" checked="@estadoDeseadosMinimos" @onchange="ClickearCambioDeseadosMinimos" style="margin-top: 20px;">
				</div>

				<div style="display: flex; flex-direction: column; gap: 10px;">
					<div>
						@Herramientas.Idiomas.BuscarTexto(idioma, "String16", "AccountNotificationsMail")
					</div>

					<div>
						@Herramientas.Idiomas.BuscarTexto(idioma, "String2", "AccountNotificationsMail")
					</div>	
				
					<hr style="margin: 10px 0px" />

					<div style="font-size: 14px;">
						@Herramientas.Idiomas.BuscarTexto(idioma, "String11", "AccountNotificationsMail")
					</div>
				</div>
			</div>
			
			<hr style="margin: 25px 0;"/>

			<div style="display: flex; align-items: center; gap: 30px;">
				<div class="checkbox-caja">
					<input type="checkbox" class="checkbox-interior" checked="@estadoDeseadosBundles" @onchange="ClickearCambioDeseadosBundles">
				</div>

				<div>
					<div style="margin-bottom: 10px;">
						@Herramientas.Idiomas.BuscarTexto(idioma, "String17", "AccountNotificationsMail")
					</div>

					<div>
						@Herramientas.Idiomas.BuscarTexto(idioma, "String18", "AccountNotificationsMail")
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="caja-cuenta-contenido">
		<div class="caja-cuenta-titulo">
			@Herramientas.Idiomas.BuscarTexto(idioma, "String19", "AccountNotificationsMail")
		</div>

		<div style="padding: 30px;">
			<div style="display: flex; align-items: center; gap: 30px;">
				<div class="checkbox-caja">
					<input type="checkbox" class="checkbox-interior" checked="@estadoBundles" @onchange="ClickearCambioBundles">
				</div>

				<div>
					<div style="margin-bottom: 10px;">
						@Herramientas.Idiomas.BuscarTexto(idioma, "String3", "AccountNotificationsMail")
					</div>

					<div>
						@Herramientas.Idiomas.BuscarTexto(idioma, "String4", "AccountNotificationsMail")
					</div>
				</div>
			</div>

			<hr style="margin: 25px 0;"/>

			<div style="display: flex; align-items: center; gap: 30px;">
				<div class="checkbox-caja">
					<input type="checkbox" class="checkbox-interior" checked="@estadoGratis" @onchange="ClickearCambioGratis">
				</div>

				<div>
					<div style="margin-bottom: 10px;">
						@Herramientas.Idiomas.BuscarTexto(idioma, "String5", "AccountNotificationsMail")
					</div>

					<div>
						@Herramientas.Idiomas.BuscarTexto(idioma, "String6", "AccountNotificationsMail")
					</div>
				</div>
			</div>

			<hr style="margin: 25px 0;"/>

			<div style="display: flex; align-items: center; gap: 30px;">
				<div class="checkbox-caja">
					<input type="checkbox" class="checkbox-interior" checked="@estadoSuscripciones" @onchange="ClickearCambioSuscripciones">
				</div>

				<div>
					<div style="margin-bottom: 10px;">
						@Herramientas.Idiomas.BuscarTexto(idioma, "String7", "AccountNotificationsMail")
					</div>

					<div>
						@Herramientas.Idiomas.BuscarTexto(idioma, "String8", "AccountNotificationsMail")
					</div>
				</div>
			</div>

			<hr style="margin: 25px 0;" />

			<div style="display: flex; align-items: center; gap: 30px;">
				<div class="checkbox-caja">
					<input type="checkbox" class="checkbox-interior" checked="@estadoWeb" @onchange="ClickearCambioWeb">
				</div>

				<div>
					<div style="margin-bottom: 10px;">
						@Herramientas.Idiomas.BuscarTexto(idioma, "String12", "AccountNotificationsMail")
					</div>

					<div>
						@Herramientas.Idiomas.BuscarTexto(idioma, "String13", "AccountNotificationsMail")
					</div>
				</div>
			</div>

			<hr style="margin: 25px 0;" />

			<div style="display: flex; align-items: center; gap: 30px;">
				<div class="checkbox-caja">
					<input type="checkbox" class="checkbox-interior" checked="@estadoDesvendido" @onchange="ClickearCambioDesvendido">
				</div>

				<div>
					<div style="margin-bottom: 10px;">
						@Herramientas.Idiomas.BuscarTexto(idioma, "String14", "AccountNotificationsMail")
					</div>

					<div>
						@Herramientas.Idiomas.BuscarTexto(idioma, "String15", "AccountNotificationsMail")
					</div>
				</div>
			</div>

			<hr style="margin: 25px 0;" />

			<div style="display: flex; align-items: center; gap: 30px;">
				<div class="checkbox-caja">
					<input type="checkbox" class="checkbox-interior" checked="@estadoOtros" @onchange="ClickearCambioOtros">
				</div>

				<div>
					<div style="margin-bottom: 10px;">
						@Herramientas.Idiomas.BuscarTexto(idioma, "String9", "AccountNotificationsMail")
					</div>

					<div>
						@Herramientas.Idiomas.BuscarTexto(idioma, "String10", "AccountNotificationsMail")
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@code {

	#nullable disable

	[Parameter]
	public string idioma { get; set; }

	private Usuario usuario = new Usuario();

	

	private string estadoBundles = null;
	private string estadoGratis = null;
	private string estadoSuscripciones = null;
	private string estadoOtros = null;
	private string estadoWeb = null;
	private string estadoDesvendido = null;

	protected override async Task OnInitializedAsync()
	{
		usuario = await UserManager.GetUserAsync(HttpContextAccessor.HttpContext.User);

		if (usuario != null)
		{
			if (usuario.NotificationLows == null)
			{
				estadoDeseadosMinimos = null;
			}
			else
			{
				if (usuario.NotificationLows == true)
				{
					estadoDeseadosMinimos = "checked";
				}
				else
				{
					estadoDeseadosMinimos = null;
				}
			}

			if (usuario.NotificationWishlistBundles == null)
			{
				estadoDeseadosBundles = null;
			}
			else
			{
				if (usuario.NotificationWishlistBundles == true)
				{
					estadoDeseadosBundles = "checked";
				}
				else
				{
					estadoDeseadosBundles = null;
				}
			}

			if (usuario.NotificationBundles == null)
			{
				estadoBundles = null;
			}
			else
			{
				if (usuario.NotificationBundles == true)
				{
					estadoBundles = "checked";
				}
				else
				{
					estadoBundles = null;
				}
			}

			if (usuario.NotificationFree == null)
			{
				estadoGratis = null;
			}
			else
			{
				if (usuario.NotificationFree == true)
				{
					estadoGratis = "checked";
				}
				else
				{
					estadoGratis = null;
				}
			}

			if (usuario.NotificationSubscriptions == null)
			{
				estadoSuscripciones = null;
			}
			else
			{
				if (usuario.NotificationSubscriptions == true)
				{
					estadoSuscripciones = "checked";
				}
				else
				{
					estadoSuscripciones = null;
				}
			}

			if (usuario.NotificationOthers == null)
			{
				estadoOtros = null;
			}
			else
			{
				if (usuario.NotificationOthers == true)
				{
					estadoOtros = "checked";
				}
				else
				{
					estadoOtros = null;
				}
			}

			if (usuario.NotificationWeb == null)
			{
				estadoWeb = null;
			}
			else
			{
				if (usuario.NotificationWeb == true)
				{
					estadoWeb = "checked";
				}
				else
				{
					estadoWeb = null;
				}
			}

			if (usuario.NotificationDelisted == null)
			{
				estadoDesvendido = null;
			}
			else
			{
				if (usuario.NotificationDelisted == true)
				{
					estadoDesvendido = "checked";
				}
				else
				{
					estadoDesvendido = null;
				}
			}
		}
	}

	private string estadoDeseadosMinimos = null;

	private async void ClickearCambioDeseadosMinimos()
	{
		if (usuario != null)
		{
			bool boolMinimos = false;

			if (estadoDeseadosMinimos == null)
			{
				estadoDeseadosMinimos = "checked";
				boolMinimos = true;
			}
			else
			{
				estadoDeseadosMinimos = null;
				boolMinimos = false;
			}

			usuario.NotificationLows = boolMinimos;

			await UserManager.UpdateAsync(usuario);
		}	
	}

	private string estadoDeseadosBundles = null;

	private async void ClickearCambioDeseadosBundles()
	{
		if (usuario != null)
		{
			bool boolDeseados = false;

			if (estadoDeseadosBundles == null)
			{
				estadoDeseadosBundles = "checked";
				boolDeseados = true;
			}
			else
			{
				estadoDeseadosBundles = null;
				boolDeseados = false;
			}

			usuario.NotificationWishlistBundles = boolDeseados;

			await UserManager.UpdateAsync(usuario);
		}	
	}

	private async void ClickearCambioBundles()
	{
		if (usuario != null)
		{
			bool estado = false;

			if (estadoBundles == null)
			{
				estadoBundles = "checked";
				estado = true;
			}
			else
			{
				estadoBundles = null;
				estado = false;
			}

			usuario.NotificationBundles = estado;

			await UserManager.UpdateAsync(usuario);
		}
	}

	private async void ClickearCambioGratis()
	{
		if (usuario != null)
		{
			bool estado = false;

			if (estadoGratis == null)
			{
				estadoGratis = "checked";
				estado = true;
			}
			else
			{
				estadoGratis = null;
				estado = false;
			}

			usuario.NotificationFree = estado;

			await UserManager.UpdateAsync(usuario);
		}
	}

	private async void ClickearCambioSuscripciones()
	{
		if (usuario != null)
		{
			bool estado = false;

			if (estadoSuscripciones == null)
			{
				estadoSuscripciones = "checked";
				estado = true;
			}
			else
			{
				estadoSuscripciones = null;
				estado = false;
			}

			usuario.NotificationSubscriptions = estado;

			await UserManager.UpdateAsync(usuario);
		}
	}

	private async void ClickearCambioOtros()
	{
		if (usuario != null)
		{
			bool estado = false;

			if (estadoOtros == null)
			{
				estadoOtros = "checked";
				estado = true;
			}
			else
			{
				estadoOtros = null;
				estado = false;
			}

			usuario.NotificationOthers = estado;

			await UserManager.UpdateAsync(usuario);
		}
	}

	private async void ClickearCambioWeb()
	{
		if (usuario != null)
		{
			bool estado = false;

			if (estadoWeb == null)
			{
				estadoWeb = "checked";
				estado = true;
			}
			else
			{
				estadoWeb = null;
				estado = false;
			}

			usuario.NotificationWeb = estado;

			await UserManager.UpdateAsync(usuario);
		}
	}

	private async void ClickearCambioDesvendido()
	{
		if (usuario != null)
		{
			bool estado = false;

			if (estadoDesvendido == null)
			{
				estadoDesvendido = "checked";
				estado = true;
			}
			else
			{
				estadoDesvendido = null;
				estado = false;
			}

			usuario.NotificationDelisted = estado;

			await UserManager.UpdateAsync(usuario);
		}
	}
}
