@using APIs.Steam
@using Microsoft.AspNetCore.Identity
@using Microsoft.Data.SqlClient
@using pepeizqs_deals_blazor_web.Componentes.Interfaz
@using pepeizqs_deals_blazor_web.Componentes.Account
@using pepeizqs_deals_web.Data

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<Usuario> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link rel="stylesheet" href="@Assets["/css/bundle.css"]" type="text/css" media="print" onload="this.media='all'" />

    <ImportMap />

    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/favicons/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="msapplication-TileColor" content="#007272" />
    <meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png" />
    <meta name="theme-color" content="#007272" />

    <HeadOutlet @rendermode="renderizacion" />
</head>

<body class="cuerpo" id="cuerpazo" style="margin: 0px;">
    <header style="background-color: var(--fondoOscuro); z-index: 9999; position: sticky; top: 0; padding: 15px; display: flex; width: 100%; border-bottom: 1px solid var(--fondoBotonPequeño);">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm" style="padding: 0px; width: 100%;">
            <div class="cabecera-poner">
                <Cabecera idioma="@idioma" usuarioId="@usuarioId" userAgent="@userAgent" usuarioAdmin="@usuarioAdmin"/>
            </div>
        </nav>
    </header>

    <main role="main">
        <Routes @rendermode="renderizacion" />
    </main>

    <PiePagina idioma="@idioma" usuarioId="@usuarioId"/>

    <script async src="@Assets["~/superjs.js"]"></script>

    @if (Herramientas.Bots.UserAgentEsBot(userAgent) == false)
    {
        <div id="reconnect-modal" style="display: none;"></div>
        <script src="@Assets["_framework/blazor.web.js"]" autostart="false"></script>
        <script src="@Assets["Inicio.js"]"></script>
        <script>navigator.serviceWorker.register('service-worker.js', { updateViaCache: 'none' });</script>
    }

    <script>
        function moverScroll(id) {
            const element = document.getElementById(id);
            const y = element.getBoundingClientRect().top;

            window.scrollTo({ top: y, behavior: 'smooth' });
        }
    </script>

    @if (Herramientas.Bots.UserAgentEsBot(userAgent) == false && usuarioAdmin == false && host?.Contains("pepeizqdeals.com") == true)
    {
        <script async src='https://visitas.pepeizq.workers.dev/script.js' data-cf-beacon='{"send":{"to": "https://visitas.pepeizq.workers.dev/"},"token": "b8f0af1685ca4f0484bb45dba08198cb"}'></script>
    }
</body>

</html>

@code {

    #nullable disable

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private IComponentRenderMode renderizacion => HttpContext.AcceptsInteractiveRouting() ? InteractiveServer : null;

    private string idioma = "en";
    private string usuarioId = null;
    private string userAgent = null;
    private string host = null;
    private bool usuarioAdmin = false;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        usuarioId = user.FindFirst(u => u.Type.Contains("nameidentifier"))?.Value;

        if (HttpContext != null)
        {
            idioma = HttpContext?.Request?.Headers["Accept-Language"].ToString().Split(";").FirstOrDefault()?.Split(",").FirstOrDefault();
            usuarioId = HttpContext?.User?.FindFirst(u => u.Type.Contains("nameidentifier"))?.Value;
            userAgent = HttpContext?.Request?.Headers.UserAgent.ToString();
            host = HttpContext?.Request?.Host.Value;
        }

        if (string.IsNullOrEmpty(usuarioId) == false)
        {
            usuarioAdmin = BaseDatos.Usuarios.Buscar.RolDios(usuarioId);
            idioma = BaseDatos.Usuarios.Buscar.IdiomaSobreescribir(usuarioId);

            Usuario usuario = await UserManager.FindByIdAsync(usuarioId);

            if (usuario?.EmailConfirmed == true)
            {
                bool patreonActivo = Herramientas.Patreon.VerificarActivo(usuario.PatreonLastCheck);

                TimeSpan tiempoActualizar = TimeSpan.FromDays(7);

                if (patreonActivo == true)
                {
                    tiempoActualizar = TimeSpan.FromDays(1);
                }

                if (string.IsNullOrEmpty(usuario.SteamAccount) == false && string.IsNullOrEmpty(usuario.SteamAccountLastCheck) == false)
                {
                    bool tiempo = true;

                    if (string.IsNullOrEmpty(usuario.SteamAccountLastCheck) == false)
                    {
                        if (Convert.ToDateTime(usuario.SteamAccountLastCheck) + tiempoActualizar > DateTime.Now)
                        {
                            tiempo = false;
                        }
                    }

                    if (tiempo == true)
                    {
                        BaseDatos.UsuariosActualizar.Insertar.Ejecutar(usuario.Id, "Steam");
                    }
                }

                if (string.IsNullOrEmpty(usuario.GogAccount) == false && usuario.GogAccountLastCheck != null)
                {
                    bool tiempo = true;

                    if (usuario.GogAccountLastCheck + tiempoActualizar > DateTime.Now)
                    {
                        tiempo = false;
                    }

                    if (tiempo == true)
                    {
                        BaseDatos.UsuariosActualizar.Insertar.Ejecutar(usuario.Id, "GOG");
                    }
                }

                if (patreonActivo == true)
                {
                    if (usuario.PatreonLastLogin == null)
                    {
                        usuario.PatreonLastLogin = DateTime.Now;
                        usuario.PatreonCoins = 2;

                        global::BaseDatos.Recompensas.Historial.Insertar(usuario.Id, 2, "Daily", DateTime.Now);
                    }
                    else
                    {
                        if (usuario.PatreonContribution > 0)
                        {
                            if (usuario.PatreonCoins < 120)
                            {
                                if (usuario.PatreonLastLogin?.DayOfYear != DateTime.Now.DayOfYear)
                                {
                                    usuario.PatreonLastLogin = DateTime.Now;
                                    usuario.PatreonCoins = usuario.PatreonCoins + 2;

                                    global::BaseDatos.Recompensas.Historial.Insertar(usuario.Id, 2, "Daily", DateTime.Now);
                                }
                            }
                        }
                        else
                        {
                            if (usuario.PatreonCoins < 10)
                            {
                                if (usuario.PatreonLastLogin?.DayOfYear != DateTime.Now.DayOfYear)
                                {
                                    usuario.PatreonLastLogin = DateTime.Now;
                                    usuario.PatreonCoins = usuario.PatreonCoins + 2;

                                    global::BaseDatos.Recompensas.Historial.Insertar(usuario.Id, 2, "Daily", DateTime.Now);
                                }
                            }
                        }
                    }
                }
            }

            if (string.IsNullOrEmpty(idioma) == false)
            {
                usuario.Language = idioma;
            }

            try
            {
                await UserManager.UpdateAsync(usuario);
            }
            catch { }
        }
    }
}