@page "/patreon/"

@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Identity
@using pepeizqs_deals_blazor_web.Componentes.Interfaz
@using pepeizqs_deals_web.Data

@inject IHttpContextAccessor Contexto

<Titulo tipo="@Titulo.Tipo.Patreon" idioma="@idioma"/>

<style>
	.caja-patreon-contenido {
		background-color: var(--fondoSubsubcabecera);
		border: 2px solid var(--fondoSubcabecera);
		padding: 30px;
		box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.28),0px 0px 2px 0px rgba(0, 0, 0, 0.24);
	}
</style>

<div class="subcabecera">
	<div class="cuerpo-ancho sub-subcabecera">
		<h1 style="font-size: 18px; width: fit-content; margin: 0px; padding: 9px 0px;">
			@Herramientas.Idiomas.BuscarTexto(idioma, "Title", "Patreon")
		</h1>

		<div style="max-width: 20px;">
			<svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
				<path d="M489.7 153.8c-.1-65.4-51-119-110.7-138.3C304.8-8.5 207-5 136.1 28.4C50.3 68.9 23.3 157.7 22.3 246.2C21.5 319 28.7 510.6 136.9 512c80.3 1 92.3-102.5 129.5-152.3c26.4-35.5 60.5-45.5 102.4-55.9c72-17.8 121.1-74.7 121-150z"/>
			</svg>
		</div>
	</div>
</div>

<div class="subcabecera" style="background-color: var(--fondoSubsubcabecera);">
	<div class="cuerpo-ancho sub-subcabecera" style="font-size: 16px; flex-direction: column; padding: 20px 0px; align-items: baseline;">
		<div>
			@Herramientas.Idiomas.BuscarTexto(idioma, "String1", "Patreon")
		</div>
	</div>
</div>

<div style="position: sticky; top: var(--alturaCabecera); z-index: 1000; background-color: var(--fondoBotonPequeño); padding: 20px 45px; width: fit-content;">
	@{
		WebApplicationBuilder builder = WebApplication.CreateBuilder();
		string? patreonEnlace = builder.Configuration.GetValue<string>("RedesSociales:Patreon");
	}

	<a href="@patreonEnlace" target="_blank">@patreonEnlace</a>
</div>

<div style="margin: 40px auto; display: flex; flex-direction: column; gap: 30px;">
	<div class="caja-patreon-contenido">
		<div style="display: flex; align-items: center; gap: 30px;">
			<div style="width: 30%;">
				<img src="/imagenes/patreon/patreon1.webp" style="width: 100%; height: 100%;"/>
			</div>

			<div style="width: 70%; display: flex; flex-direction: column; gap: 10px;">
				<div style="font-size: 18px;">
					@Herramientas.Idiomas.BuscarTexto(idioma, "String3", "Patreon")
				</div>

				<div>
					@Herramientas.Idiomas.BuscarTexto(idioma, "String4", "Patreon")
				</div>
			</div>
		</div>
	</div>

	<div class="caja-patreon-contenido">
		<div style="display: flex; align-items: center; gap: 30px;">
			<div style="width: 30%;">
				<img src="/imagenes/patreon/patreon2.webp" style="width: 100%; height: 100%;"/>
			</div>

			<div style="width: 70%; display: flex; flex-direction: column; gap: 10px;">
				<div style="font-size: 18px;">
					@Herramientas.Idiomas.BuscarTexto(idioma, "String5", "Patreon")
				</div>

				<div>
					@Herramientas.Idiomas.BuscarTexto(idioma, "String6", "Patreon")
				</div>
			</div>
		</div>
	</div>

	<div class="caja-patreon-contenido">
		<div style="display: flex; align-items: center; gap: 30px;">
			<div style="width: 30%;">
				<img src="/imagenes/patreon/patreon3.webp" style="width: 100%; height: 100%;"/>
			</div>

			<div style="width: 70%; display: flex; flex-direction: column; gap: 10px;">
				<div style="font-size: 18px;">
					@Herramientas.Idiomas.BuscarTexto(idioma, "String8", "Patreon")
				</div>

				<div>
					@Herramientas.Idiomas.BuscarTexto(idioma, "String9", "Patreon")
				</div>
			</div>
		</div>
	</div>

	<div class="caja-patreon-contenido">
		<div style="display: flex; align-items: center; gap: 30px;">
			<div style="width: 30%;">
				<img src="/imagenes/patreon/patreon4.webp" style="width: 100%; height: 100%;"/>
			</div>

			<div style="width: 70%; display: flex; flex-direction: column; gap: 10px;">
				<div style="font-size: 18px;">
					@Herramientas.Idiomas.BuscarTexto(idioma, "String10", "Patreon")
				</div>

				<div>
					@Herramientas.Idiomas.BuscarTexto(idioma, "String11", "Patreon")
				</div>
			</div>
		</div>
	</div>
</div>

@code {

	#nullable disable

	private string idioma = "en";
	private string usuarioId = null;

	private bool usuarioPatreon = false;

	protected override void OnInitialized()
	{
		Herramientas.ContextoUsuarioDatos datos = Herramientas.ContextoUsuario.Leer(Contexto);
		idioma = datos.Idioma;
		usuarioId = datos.UsuarioId;

		if (string.IsNullOrEmpty(usuarioId) == false)
		{
			idioma = BaseDatos.Usuarios.Buscar.IdiomaSobreescribir(usuarioId);
			usuarioPatreon = Herramientas.Patreon.VerificarActivo(BaseDatos.Usuarios.Buscar.FechaPatreon(usuarioId));
		}
	}
}
