@page "/privacy/"

@inject IHttpContextAccessor Contexto

@{
	string titulo = Herramientas.Idiomas.BuscarTexto(idioma, "Title", "Privacy") + " • pepeizq's deals";
	string descripcion = Herramientas.Idiomas.BuscarTexto(idioma, "Subtitle", "Privacy");
	string enlace = "https://pepeizqdeals.com/privacy/";
	string imagen = "https://pepeizqdeals.com/logo/logoentrada.webp";

	<HeadContent>
		<PageTitle>@titulo</PageTitle>

		<meta name="og:title" Content="@titulo" />
		<meta name="description" content="@descripcion" />
		<meta name="og:description" content="@descripcion" />
		<meta name="og:url" content="@enlace" />
		<meta name="og:image" content="@imagen" />
		<meta name="og:site_name" content="pepeizq's deals" />
		<meta name="og:type" content="website" />
		<meta name="robots" content="index, follow" />
		<meta name="keywords" content="deals, games, free, offers, bundles" />

		<link rel="canonical" href="@enlace" />
	</HeadContent>
}

<style>
	.caja-privacidad-contenido {
		background-color: var(--fondoSubsubcabecera);
		border: 2px solid var(--fondoSubcabecera);
		padding: 30px;
		box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.28),0px 0px 2px 0px rgba(0, 0, 0, 0.24);
	}
</style>

<div class="subcabecera">
	<div class="cuerpo-ancho sub-subcabecera">
		<h1 style="font-size: 18px; width: fit-content; margin: 0px; padding: 9px 0px;">
			@Herramientas.Idiomas.BuscarTexto(idioma, "Title", "Privacy")
		</h1>
	</div>
</div>

<div class="subcabecera" style="background-color: var(--fondoSubsubcabecera);">
	<div class="cuerpo-ancho sub-subcabecera" style="padding: 20px 0px;">
		@Herramientas.Idiomas.BuscarTexto(idioma, "String1", "Privacy")
	</div>
</div>

<div class="caja-privacidad-contenido" style="margin: 40px auto;">
	<div>
		@Herramientas.Idiomas.BuscarTexto(idioma, "String2", "Privacy")

		<ul>
			<li>
				@Herramientas.Idiomas.BuscarTexto(idioma, "String3", "Privacy")
			</li>
			<li>
				@Herramientas.Idiomas.BuscarTexto(idioma, "String4", "Privacy")
			</li>
		</ul>
	</div>
</div>

<div class="subcabecera" style="background-color: var(--fondoSubsubcabecera);">
	<div class="cuerpo-ancho sub-subcabecera" style="padding: 20px 0px;">
		@Herramientas.Idiomas.BuscarTexto(idioma, "String6", "Privacy")
	</div>
</div>

<div class="caja-privacidad-contenido" style="margin: 40px auto; display: flex; flex-direction: column; gap: 20px;">
	<div>
		@Herramientas.Idiomas.BuscarTexto(idioma, "String5", "Privacy")
	</div>

	<div>
		@Herramientas.Idiomas.BuscarTexto(idioma, "String7", "Privacy")
	</div>
</div>

@code {

	#nullable disable

	private string idioma = "en";
	private string usuarioId = null;

	protected override void OnInitialized()
	{
		idioma = Contexto.HttpContext.Request.Headers["Accept-Language"].ToString().Split(";").FirstOrDefault()?.Split(",").FirstOrDefault();
		usuarioId = Contexto.HttpContext.User.FindFirst(u => u.Type.Contains("nameidentifier"))?.Value;

		if (string.IsNullOrEmpty(usuarioId) == false)
		{
			idioma = BaseDatos.Usuarios.Buscar.IdiomaSobreescribir(usuarioId);
		}
	}
}
