@page "/last-added"

@using BaseDatos.Juegos
@using Juegos
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using Microsoft.AspNetCore.Identity
@using Microsoft.Data.SqlClient
@using Microsoft.JSInterop
@using pepeizqs_deals_blazor_web.Componentes.Interfaz
@using pepeizqs_deals_web.Data

@inject IHttpContextAccessor Contexto

@{
	string keywords = "last, added";

	if (juegosMostrar.Count > 0)
	{
		int i = 0;
		foreach (var juego in juegosMostrar)
		{
			if (i < 10)
			{
				string[] keywordsEnBruto = Herramientas.Buscador.LimpiarNombre(juego.Nombre, false).Split(' ');
				List<string> keywordsLista = new List<string>();
				keywordsLista.AddRange(keywordsEnBruto);

				foreach (var keyword in keywordsLista)
				{
					if (keywords.Contains(keyword) == false && keyword.Length > 3)
					{
						keywords = keywords + ", " + keyword;
					}
				}
			}
			else
			{
				break;
			}

			i += 1;
		}
	}

	<Titulo tipo="@Titulo.Tipo.UltimosAñadidos" idioma="@idioma" dominio="@dominio" keywords="@keywords"/>
}

<div class="subcabecera">
	<div class="cuerpo-ancho sub-subcabecera">
		<h1 style="font-size: 18px; width: fit-content; margin: 0px; padding: 10px 0px;">
			@Herramientas.Idiomas.BuscarTexto(idioma, "String1", "LastAdded")
		</h1>
	</div>
</div>

@if (juegosMostrar.Count > 0)
{
	<div style="max-width: 1000px; margin: 20px auto 40px auto; display: flex; flex-direction: column; gap: 30px;">
		<Virtualize Context="juego" Items="juegosMostrar" ItemSize="107">
			<ItemContent>
				<CajaJuego idioma="@idioma" juego="@juego" juegosUsuario="@juegosUsuario" usuarioDeseadosSteam="@deseadosUsuario?.SteamWishlist" usuarioDeseadosWeb="@deseadosUsuario?.Wishlist" usuarioDeseadosGog="@deseadosUsuario?.GogWishlist" tipo="CajaJuego.Tipo.NuevosAñadidos" userAgent="@userAgent" />
			</ItemContent>
		</Virtualize>
	</div>
}

@code {

	#nullable disable

	private string idioma = "en";
	private string usuarioId = null;
	private string userAgent = null;
    private string dominio = null;

	[PersistentState] public Herramientas.UsuarioListadosJuegos juegosUsuario { get; set; }
	[PersistentState] public Usuario deseadosUsuario { get; set; }

	[PersistentState] public List<Juegos.Juego> juegosMostrar { get; set; }

	protected override void OnInitialized()
	{
		Herramientas.ContextoUsuarioDatos datos = Herramientas.ContextoUsuario.Leer(Contexto);
		idioma = datos.Idioma;
		usuarioId = datos.UsuarioId;
		userAgent = datos.UserAgent;
        dominio = datos.Dominio;

		if (string.IsNullOrEmpty(usuarioId) == false)
		{
			idioma = BaseDatos.Usuarios.Buscar.IdiomaSobreescribir(usuarioId);
			juegosUsuario ??= Herramientas.UsuarioJuegos.Cargar(usuarioId);
			deseadosUsuario ??= BaseDatos.Usuarios.Buscar.DeseadosTiene(usuarioId);
		}

		SqlConnection conexion = Herramientas.BaseDatos.Conectar();

		using (conexion)
		{
			juegosMostrar ??= Buscar.Ultimos(conexion, "juegos", 500);
		}
	}
}
