@rendermode InteractiveServer

@using BaseDatos.Usuarios
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using Microsoft.AspNetCore.Identity
@using Microsoft.Data.SqlClient
@using System.Text.Json
@using pepeizqs_deals_blazor_web.Componentes.Account
@using pepeizqs_deals_web.Data

@inject NavigationManager NavManager
@inject IJSRuntime JavaScript

<script>
    window.clipboardCopy = {
        copyText: function(text) {
            navigator.clipboard.writeText(text);
        }
    };
</script>

@if (enseñarAlerta == true)
{
    <div style="width: fit-content; background-color: var(--fondoAlerta); color: var(--colorTexto); padding: 10px 15px; margin: 30px; top: var(--alturaCabecera); left: 0; position: fixed; z-index: 1001; border: 2px solid var(--fondoSubcabecera); box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.28),0px 0px 2px 0px rgba(0, 0, 0, 0.24);">
        <div style="display: flex; align-items: center; gap: 10px;">
            <div>
                @Herramientas.Idiomas.BuscarTexto(idioma, "String1", "Clipboard")
            </div>

            <button @onclick="CerrarAvisoClipboard" class="boton-pequeño" style="display: flex; padding: 0px; background-color: transparent; width: fit-content;">
                <div style="width: 20px; height: 20px;">
                    <svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                        <path d="M183.1 137.4C170.6 124.9 150.3 124.9 137.8 137.4C125.3 149.9 125.3 170.2 137.8 182.7L275.2 320L137.9 457.4C125.4 469.9 125.4 490.2 137.9 502.7C150.4 515.2 170.7 515.2 183.2 502.7L320.5 365.3L457.9 502.6C470.4 515.1 490.7 515.1 503.2 502.6C515.7 490.1 515.7 469.8 503.2 457.3L365.8 320L503.1 182.6C515.6 170.1 515.6 149.8 503.1 137.3C490.6 124.8 470.3 124.8 457.8 137.3L320.5 274.7L183.1 137.4z" />
                    </svg>
                </div>
            </button>
        </div>
    </div>
}

<style>
    .buscador-panel {
        height: calc(100% - var(--alturaCabecera));
        width: 100%;
        left: 0;
        top: 0;
        overflow-x: auto;
        position: fixed;
        z-index: 1000;
        margin-top: var(--alturaCabecera);
        padding: 10px;
        background-color: var(--fondoOscuroTransparente);
    }

    .boton-superior {
        display: block;
        padding: 4px 12px;
        margin: 0px;
        transition: transform .2s;
        text-decoration: none;
        background-color: transparent;
        border: 0;
        color: var(--colorTextoVisitado);
    }

        .boton-superior:hover {
            transform: scale(1.01);
            color: var(--colorEnlace);
            
        }

    @@media (max-width: 1100px) {
        .boton-superior {
            float: none;
        }

            .boton-superior:hover {
                transform: scale(1.005);
                background-color: var(--fondoBotonHover);
            }
    }

    .botones-superiores {
        display: flex;
        align-items: center;
        width: 100%;
    }

    @@media (max-width: 1100px) {
        .botones-superiores {
            display: none;
        }
    }

    .botones-superiores2 {
        display: none;
    }

    @@media (max-width: 1100px) {
        .botones-superiores2 {
            display: flex;
            margin-left: auto;
        }
    }
</style>

<a href="/" id="cabecera" class="texto-logo" style="background-color: transparent; border: 0; flex: 1 auto 1;">
    pepeizq's deals
</a>

<div style="display: flex; align-items: center; gap: 10px; flex: 1 1 auto;">
    <AuthorizeView>
        <Authorized>
            @if (string.IsNullOrEmpty(usuarioId) == false)
            {
                if (usuarioAdmin == true)
                {
                    <a class="boton-superior" href="/admin" style="font-size: 15px;">
                        <div style="@GenerarEstilo("/admin") display: flex; align-items: center; gap: 15px;">
                            Admin
                        </div>
                    </a>
                }
            }
        </Authorized>
    </AuthorizeView>

    @if (Herramientas.Bots.UserAgentEsBot(userAgent) == false)
    {
        <div style="background-color: var(--fondoEntrada); padding-right: 10px; display: flex; align-items: center; gap: 10px;">
            <input type="text" @bind-value="textoBuscador" @bind-value:event="oninput" @bind-value:after="TextoCambiaBuscador" class="entrada-texto" style="background-color: transparent; min-width: 50%; font-size: 14px;" placeholder="@Herramientas.Idiomas.BuscarTexto(idioma, "SearchPlaceholder", "Header")" />

            @if (resultadosMostrar == null || resultadosMostrar?.Count == 0)
            {
                <div style="max-width: 16px;">
                    <svg class="svg-icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
                    </svg>
                </div>
            }
            else
            {
				string enlaceClipboard = "https://pepeizqdeals.com/?search=" + textoBuscador;

                <button @onclick="(e => CopiarAlClipboard(e, enlaceClipboard))" style="border: 0px; background: transparent;" title="@Herramientas.Idiomas.BuscarTexto(idioma, "String1", "Header")">
                    <div style="width: 14px; max-height: 16px;">
                        <svg class="svg-icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path d="M208 0L332.1 0c12.7 0 24.9 5.1 33.9 14.1l67.9 67.9c9 9 14.1 21.2 14.1 33.9L448 336c0 26.5-21.5 48-48 48l-192 0c-26.5 0-48-21.5-48-48l0-288c0-26.5 21.5-48 48-48zM48 128l80 0 0 64-64 0 0 256 192 0 0-32 64 0 0 48c0 26.5-21.5 48-48 48L48 512c-26.5 0-48-21.5-48-48L0 176c0-26.5 21.5-48 48-48z" />
                        </svg>
                    </div>
                </button>

                <button @onclick="(e => LimpiarBusqueda(e))" style="border: 0px; background: transparent;" title="@Herramientas.Idiomas.BuscarTexto(idioma, "String2", "Header")">
                    <div style="width: 14px; max-height: 16px;">
                        <svg class="svg-icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                            <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
                        </svg>
                    </div>
                </button>
            }
        </div>
    }
        
    <div class="botones-superiores">
        @if (string.IsNullOrEmpty(usuarioId) == false)
        {
            <a class="boton-superior" href="/wishlist" style="font-size: 15px;">
                @if (cantidadDeseados > 0)
                {
                    <div style="@GenerarEstilo("/wishlist") display: flex; align-items: center; gap: 10px; background-color: var(--fondoAlerta); color: var(--colorTexto); padding: 5px 15px;">
                        <div>
                            (@cantidadDeseados)
                        </div>

                        <div>
                            @Herramientas.Idiomas.BuscarTexto(idioma, "Wishlist", "Header")
                        </div>
                    </div>
                }
                else
                {
                    <div style="@GenerarEstilo("/wishlist")">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "Wishlist", "Header")
                    </div>
                }
            </a>
        }

        <a class="boton-superior" href="/historical-lows" style="font-size: 15px;">
            <div style="@GenerarEstilo("/historical-lows")">
                @Herramientas.Idiomas.BuscarTexto(idioma, "HistoricalLows", "Header")
            </div>
        </a>

        <a class="boton-superior" href="/bundles" style="font-size: 15px;">
            <div style="@GenerarEstilo("/bundles")">
                @Herramientas.Idiomas.BuscarTexto(idioma, "Bundles", "Header")
            </div>
        </a>

        <a class="boton-superior" href="/free" style="font-size: 15px;">
            <div style="@GenerarEstilo("/free")">
                @Herramientas.Idiomas.BuscarTexto(idioma, "Free", "Header")
            </div>
        </a>

        <a class="boton-superior" href="/subscriptions" style="font-size: 15px;">
            <div style="@GenerarEstilo("/subscriptions")">
                @Herramientas.Idiomas.BuscarTexto(idioma, "Subscriptions", "Header")
            </div>
        </a>

        <a class="texto-cabecera boton-superior" href="https://pepeizqapps.com/extension/pepeizq-deals" target="_blank" title="@Herramientas.Idiomas.BuscarTexto(idioma, "Extension", "Footer")">
            <div style="width: 22px; height: 22px;">
                <svg class="svg-icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path d="M0 256C0 209.4 12.5 165.6 34.3 127.1L144.1 318.3C166 357.5 207.9 384 256 384C270.3 384 283.1 381.7 296.8 377.4L220.5 509.6C95.9 492.3 0 385.3 0 256zM365.1 321.6C377.4 302.4 384 279.1 384 256C384 217.8 367.2 183.5 340.7 160H493.4C505.4 189.6 512 222.1 512 256C512 397.4 397.4 511.1 256 512L365.1 321.6zM477.8 128H256C193.1 128 142.3 172.1 130.5 230.7L54.2 98.5C101 38.5 174 0 256 0C350.8 0 433.5 51.5 477.8 128V128zM168 256C168 207.4 207.4 168 256 168C304.6 168 344 207.4 344 256C344 304.6 304.6 344 256 344C207.4 344 168 304.6 168 256z" />
                </svg>
            </div>
        </a>

        @if (usuarioPatreon == false)
        {
            <a class="boton-superior" href="/patreon" style="font-size: 15px;" title="Patreon">
                <div style="width: 22px; height: 22px;">
                    <svg class="svg-icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M489.7 153.8c-.1-65.4-51-119-110.7-138.3C304.8-8.5 207-5 136.1 28.4C50.3 68.9 23.3 157.7 22.3 246.2C21.5 319 28.7 510.6 136.9 512c80.3 1 92.3-102.5 129.5-152.3c26.4-35.5 60.5-45.5 102.4-55.9c72-17.8 121.1-74.7 121-150z" />
                    </svg>
                </div>
            </a>
        }

        <AuthorizeView>
            <Authorized>
                <div style="display: flex; align-items: center; margin-left: auto;">
                    <div class="menu-dropdown">
                        <div style="display: flex; align-items: center; font-size: 14px; cursor: pointer; gap: 15px;">
                            @if (opcionesCabecera != null)
                            {
                                if (string.IsNullOrEmpty(opcionesCabecera.Avatar) == true)
                                {
                                    <div>@opcionesCabecera.Email</div>
                                }
                                else
                                {
                                    @if (opcionesCabecera.Avatar.ToLower().Contains(".jpg") == true || 
                                        opcionesCabecera.Avatar.ToLower().Contains(".jpeg") == true || 
                                        opcionesCabecera.Avatar.ToLower().Contains(".png") == true || 
                                        opcionesCabecera.Avatar.ToLower().Contains(".webp") == true)
                                    {
                                        <img src="@Herramientas.Ficheros.Imagenes.ServidorExterno(opcionesCabecera.Avatar)" style="max-height: 32px; max-width: 32px;" title="@opcionesCabecera.Nickname"/>
                                    }
                                    else
                                    {
                                        <div>@opcionesCabecera.Email</div>
                                    }
                                }
                            }

                            <div style="max-width: 10px;">
                                <svg class="svg-icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                    <path d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z" />
                                </svg>
                            </div>
                        </div>

                        <div class="menu-dropdown-contenido" style="right: -10px;">
                            @{
							    string enlaceCuenta = "/account";
                                string enlaceDeslogear = "/account/logout";
                            }

                            <button @onclick="(e => AbrirEnlace(e, enlaceCuenta, false))" class="texto-cabecera boton-superior" style="font-size: 15px; width: 100%; text-align: right;">
                                @Herramientas.Idiomas.BuscarTexto(idioma, "Account", "Header")
                            </button>

                            <button @onclick="(e => AbrirEnlace(e, enlaceDeslogear, false))" class="texto-cabecera boton-superior" style="font-size: 15px; width: 100%; text-align: right;">
                                @Herramientas.Idiomas.BuscarTexto(idioma, "Logout", "Header")
                            </button>
                        </div>
                    </div>
                </div>
            </Authorized>
            <NotAuthorized>
                <div style="display: flex; align-items: center; margin-left: auto;">
                    <a href="/account/login" class="boton-superior" style="text-align: left; border: 0; margin: 0px; font-size: 14px;">
                        <div style="@GenerarEstilo("/account/login")">
                            @Herramientas.Idiomas.BuscarTexto(idioma, "Login", "Header")
                        </div>
                    </a>

                    <a href="/account/register" class="boton-superior" style="text-align: left; border: 0; margin: 0px; font-size: 14px;">
                        <div style="@GenerarEstilo("/account/register")">
                            @Herramientas.Idiomas.BuscarTexto(idioma, "Register", "Header")
                        </div>
                    </a>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </div>

    <div class="botones-superiores2" style="cursor: pointer;" @onclick="(e => MostrarPanel(e))">
        <div>
            <div style="width: 18px; height: 18px;">
                @if (mostrarPanel == false)
                {
                    <svg class="svg-icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z" />
                    </svg>
                }
                else
                {
                    <svg class="svg-icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                        <path d="M183.1 137.4C170.6 124.9 150.3 124.9 137.8 137.4C125.3 149.9 125.3 170.2 137.8 182.7L275.2 320L137.9 457.4C125.4 469.9 125.4 490.2 137.9 502.7C150.4 515.2 170.7 515.2 183.2 502.7L320.5 365.3L457.9 502.6C470.4 515.1 490.7 515.1 503.2 502.6C515.7 490.1 515.7 469.8 503.2 457.3L365.8 320L503.1 182.6C515.6 170.1 515.6 149.8 503.1 137.3C490.6 124.8 470.3 124.8 457.8 137.3L320.5 274.7L183.1 137.4z" />
                    </svg>
                }
            </div>

            @if (mostrarPanel == true)
            {
                <div style="height: calc(100% - var(--alturaCabecera)); width: 100%; top: 0; left: 0; overflow-x: auto; position: fixed; z-index: 1000; margin-top: var(--alturaCabecera); color: var(--colorTextoHover); background-color: var(--fondoOscuro);">
                    <div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));">
                        @if (string.IsNullOrEmpty(usuarioId) == false)
                        {
                            <a class="texto-cabecera boton-superior" href="/wishlist" style="font-size: 15px;">
                                @Herramientas.Idiomas.BuscarTexto(idioma, "Wishlist", "Header")
                            </a>
                        }

                        <a class="texto-cabecera boton-superior" href="/historical-lows" style="font-size: 15px;">
                            @Herramientas.Idiomas.BuscarTexto(idioma, "HistoricalLows", "Header")
                        </a>

                        <a class="texto-cabecera boton-superior" href="/bundles" style="font-size: 15px;">
                            @Herramientas.Idiomas.BuscarTexto(idioma, "Bundles", "Header")
                        </a>

                        <a class="texto-cabecera boton-superior" href="/free" style="font-size: 15px;">
                            @Herramientas.Idiomas.BuscarTexto(idioma, "Free", "Header")
                        </a>

                        <a class="texto-cabecera boton-superior" href="/subscriptions" style="font-size: 15px;">
                            @Herramientas.Idiomas.BuscarTexto(idioma, "Subscriptions", "Header")
                        </a>

                        <a class="texto-cabecera boton-superior" href="https://pepeizqapps.com/extension/pepeizq-deals" target="_blank" style="font-size: 15px;">
                            @Herramientas.Idiomas.BuscarTexto(idioma, "Extension", "Footer")
                        </a>

                        @if (usuarioPatreon == false)
                        {
                            <a class="texto-cabecera boton-superior" href="/patreon" style="font-size: 15px;">
                                Patreon
                            </a>
                        }
                    </div>

                    <hr />

                    <AuthorizeView>
                        <Authorized>
                            <div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));">
                                @{
                                    string enlaceCuenta = "/account";
                                    string enlaceDeslogear = "/account/logout";
                                }

                                <button @onclick="(e => AbrirEnlace(e, enlaceCuenta, false))" class="boton-superior" style="font-size: 15px; width: 100%; text-align: left; overflow: hidden;">
                                    @Herramientas.Idiomas.BuscarTexto(idioma, "Account", "Header")
                                </button>

                                <button @onclick="(e => AbrirEnlace(e, enlaceDeslogear, false))" class="boton-superior" style="font-size: 15px; width: 100%; text-align: left; overflow: hidden;">
                                    @Herramientas.Idiomas.BuscarTexto(idioma, "Logout", "Header")
                                </button>
                            </div>
                        </Authorized>
                        <NotAuthorized>
                            <div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));">
                                <a class="texto-cabecera boton-superior" href="/account/login" target="_blank" style="font-size: 15px;">
                                    @Herramientas.Idiomas.BuscarTexto(idioma, "Login", "Header")
                                </a>

                                <a class="texto-cabecera boton-superior" href="/account/register" target="_blank" style="font-size: 15px;">
                                    @Herramientas.Idiomas.BuscarTexto(idioma, "Register", "Header")
                                </a>
                            </div>
                        </NotAuthorized>
                    </AuthorizeView>
                </div>
            }
        </div>
    </div>

    @if (resultadosMostrar?.Count > 0)
    {
        <div style="height: calc(100% - var(--alturaCabecera)); width: 100%; top: 0; left: 0; overflow-x: auto; position: fixed; z-index: 1000; margin-top: var(--alturaCabecera); display: flex; align-items: start; flex-direction: column; backdrop-filter: blur(5px); background: color-mix(in srgb, var(--fondoCuerpo) 90%, transparent);">
            <div style="margin-left: auto; margin-right: auto; margin-bottom: 30px; max-width: var(--anchoCuerpo); width: 100%;">               
                @foreach (var juego in resultadosMostrar)
                {
                    string fondoColor = "background: radial-gradient(ellipse at top left, var(--fondoBotonPequeño), var(--fondoOscuro));"; ;

                    if (string.IsNullOrEmpty(usuarioId) == false)
                    {
                        bool usuarioTieneJuego = Herramientas.UsuarioJuegos.ComprobarSiTiene(juegosUsuario, juego);
                        bool usuarioTieneDeseado = false;

                        if (usuarioTieneJuego == true)
                        {
                            fondoColor = "background: radial-gradient(ellipse at top left, var(--fondoBotonPequeño), var(--fondoBien));";
                        }
                        else
                        {
                            if (usuarioTieneDeseado == false)
                            {
                                usuarioTieneDeseado = Herramientas.Deseados.ComprobarSiEsta(deseadosUsuario, juego, Juegos.JuegoDRM.NoEspecificado);
                            }

                            if (usuarioTieneDeseado == true)
                            {
                                fondoColor = "background: radial-gradient(ellipse at top left, var(--fondoBotonPequeño), var(--fondoAlerta));";
                            }
                        }
                    }

                    <div style="display: flex; flex-direction: row; align-items: center; margin-top: 30px;">
                        @{
                            int ancho = 230;
                            int alto = 107;
                            string imagen = "width: " + ancho.ToString() + "px; height: " + alto.ToString() + "px;";
                            string enlace = "/game/" + juego.Id.ToString() + "/" + Herramientas.EnlaceAdaptador.Nombre(juego.Nombre) + "/";
                        }

                        <button @onclick="(e => AbrirEnlace(e, enlace, false))" @oncontextmenu="(e => CopiarAlClipboard(e, enlace))" class="boton-pequeño" style="cursor: pointer; padding: 0px; @fondoColor">
                            <div class="perfil-flexible-centrado">
                                <div>
                                    <img src="@juego.Imagenes.Header_460x215" style="@imagen" />
                                </div>

                                <div style="width: 100%; padding-left: 20px; padding-right: 20px; display: flex; flex-direction: column; gap: 5px;">
                                    <div>
                                        @juego.Nombre
                                    </div>

                                    <div style="font-size: 15px;">
                                        <CajaJuegoMensaje idioma="@idioma" juego="@juego"/>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                }
            </div>
        </div>
    }
</div>

@code {

    #nullable disable

    [Parameter]
    public string idioma { get; set; }

    [Parameter]
    public string usuarioId { get; set; }

    [Parameter]
    public string enlace { get; set; }

    [Parameter]
    public string userAgent { get; set; }

    [Parameter]
    public bool usuarioAdmin { get; set; }

    [SupplyParameterFromQuery]
    private string Search { get; set; }

    [PersistentState] public Herramientas.UsuarioListadosJuegos juegosUsuario { get; set; }
    [PersistentState] public Usuario deseadosUsuario { get; set; }
    private bool usuarioPatreon = false;
    [PersistentState] public Usuario opcionesCabecera { get; set; }

    private SqlConnection conexion = new SqlConnection();

    private int cantidadDeseados = 0;

    protected override void OnInitialized()
    {
        if (string.IsNullOrEmpty(usuarioId) == false)
        {
            juegosUsuario ??= Herramientas.UsuarioJuegos.Cargar(usuarioId);
            deseadosUsuario ??= BaseDatos.Usuarios.Buscar.DeseadosTiene(usuarioId);
            usuarioPatreon = Herramientas.Patreon.VerificarActivo(BaseDatos.Usuarios.Buscar.FechaPatreon(usuarioId));
            opcionesCabecera ??= BaseDatos.Usuarios.Buscar.OpcionesCabecera(usuarioId);

            if (string.IsNullOrEmpty(deseadosUsuario?.WishlistData) == false)
            {
                DeseadosDatos datos = JsonSerializer.Deserialize<DeseadosDatos>(deseadosUsuario?.WishlistData);

                if (datos != null)
                {
                    cantidadDeseados = datos.Cantidad;

                    if (datos.UltimaVisita != null && datos.UltimoJuego != null)
                    {
                        if (datos.UltimaVisita?.Subtract((DateTime)datos.UltimoJuego).TotalDays > 7)
                        {
                            cantidadDeseados = 0;       
                        }
                    }
                    else if (datos.UltimaVisita == null && datos.UltimoJuego != null)
                    {
                        if (DateTime.Now.Subtract((DateTime)datos.UltimoJuego).TotalDays > 7)
                        {
                            cantidadDeseados = 0;
                        }
                    }
                }
            }
        }
    }

    protected override void OnParametersSet()
    {
        if (string.IsNullOrEmpty(Search) == false)
        {
            textoBuscador = Search;
            TextoCambiaBuscador();
        }
    }

    protected override async Task OnAfterRenderAsync(bool primerRender)
    {
        enlace = NavManager.Uri;

        await InvokeAsync(StateHasChanged);
    }

    #region Botones Cabecera

    private string GenerarEstilo(string enlaceBoton)
    {
        if (NavManager.Uri.Contains(enlaceBoton) == true)
        {
            return "border-bottom: 2px solid var(--colorEnlace); color: var(--colorEnlace);";
        }
        else
        {
            return null;
        }
    }

    #endregion

    #region Buscador

    [PersistentState] public List<Juegos.Juego> resultadosMostrar { get; set; }
    public string textoBuscador { get; set; } = string.Empty;

    private void TextoCambiaBuscador()
    {
        textoBuscador = textoBuscador.Replace("'", null);

        if (textoBuscador.Trim().Length > 3)
        {
            if (resultadosMostrar == null)
            {
                resultadosMostrar = new List<Juegos.Juego>();
            }

            resultadosMostrar.RemoveAll(j => Herramientas.Buscador.LimpiarNombre(j.Nombre) != Herramientas.Buscador.LimpiarNombre(textoBuscador));

            if (conexion == null)
            {
                conexion = Herramientas.BaseDatos.Conectar();
            }
            else
            {
                if (conexion.State != System.Data.ConnectionState.Open)
                {
                    conexion = Herramientas.BaseDatos.Conectar();
                }
            }

            using (conexion)
            {
                if (APIs.Steam.Juego.Detectar(textoBuscador) == true)
                {
                    textoBuscador = APIs.Steam.Juego.LimpiarID(textoBuscador);

                    resultadosMostrar = new List<Juegos.Juego>() { BaseDatos.Juegos.Buscar.UnJuego(null, textoBuscador) };

                    if (resultadosMostrar.Count > 0)
                    {
                        textoBuscador = resultadosMostrar[0].Nombre;
                    }
                }
                else if (APIs.GOG.Juego.Detectar(textoBuscador) == true)
                {
                    textoBuscador = APIs.GOG.Juego.LimpiarSlug(textoBuscador);

                    resultadosMostrar = new List<Juegos.Juego>() { BaseDatos.Juegos.Buscar.UnJuego(null, null, textoBuscador) };

                    if (resultadosMostrar.Count > 0)
                    {
                        textoBuscador = resultadosMostrar[0].Nombre;
                    }
                }
                else if (APIs.EpicGames.Juego.Detectar(textoBuscador) == true)
                {
                    textoBuscador = APIs.EpicGames.Juego.LimpiarSlug(textoBuscador);

                    resultadosMostrar = new List<Juegos.Juego>() { BaseDatos.Juegos.Buscar.UnJuego(null, null, null, textoBuscador) };

                    if (resultadosMostrar.Count > 0)
                    {
                        textoBuscador = resultadosMostrar[0].Nombre;
                    }
                }
                else
                {
                    bool usuarioLogeado = false;

                    if (string.IsNullOrEmpty(usuarioId) == false)
                    {
                        usuarioLogeado = true;
                    }

                    resultadosMostrar.AddRange(BaseDatos.Juegos.Buscar.Nombre(textoBuscador, conexion, 5, false, -1, usuarioLogeado).Where(x => resultadosMostrar.FirstOrDefault(y => y.Nombre == x.Nombre) == null).ToList());
                }
            }
        }
        else
        {
            resultadosMostrar?.Clear();
        }
    }

    private void LimpiarBusqueda(MouseEventArgs e)
    {
        textoBuscador = string.Empty;
        resultadosMostrar?.Clear();
    }

    #endregion

    #region Abrir Enlace

    private async void AbrirEnlace(MouseEventArgs e, string enlace, bool nuevaVentana = true)
    {
        string comando = "_blank";

        if (nuevaVentana == false)
        {
            comando = "_self";
        }

        await JavaScript.InvokeVoidAsync("open", enlace, comando);
    }

    #endregion

    #region Panel Moviles

    bool mostrarPanel = false;

    private void MostrarPanel(MouseEventArgs e)
    {
        if (mostrarPanel == true)
        {
            mostrarPanel = false;
        }
        else
        {
            mostrarPanel = true;
        } 
    }

    #endregion

    #region Portapapeles

    bool enseñarAlerta = false;
    private PeriodicTimer cronometro = null;
    private int cronometroContador = 0;
    private int cronometroLimite = 10;

    private async void CopiarAlClipboard(MouseEventArgs e, string textoEnlace)
    {
        if (textoEnlace?.Contains("https://") == false)
        {
            textoEnlace = "https://pepeizqdeals.com" + textoEnlace;
        }

        enseñarAlerta = true;
        await JavaScript.InvokeVoidAsync("clipboardCopy.copyText", textoEnlace);

        cronometroContador = 0;
        cronometro = new PeriodicTimer(TimeSpan.FromSeconds(1));

        while (await cronometro.WaitForNextTickAsync())
        {
            cronometroContador += 1;

            if (cronometroContador > cronometroLimite)
            {
                enseñarAlerta = false;
                cronometro.Dispose();
                await InvokeAsync(StateHasChanged);
            }
        }
    }

    private void CerrarAvisoClipboard()
    {
        enseñarAlerta = false;
        cronometroContador = 0;

        if (cronometro != null)
        {
            cronometro.Dispose();
        }
    }

    #endregion
}

