<style>
    .subir-arriba2{
        transition: transform 0.2s ease;
    }

    .subir-arriba2:hover {
        transform: scale(105%);
    }
</style>

<footer class="pie">
    <div style="padding: 30px;">
        <div style="font-size: 16px; display: grid; align-items: stretch; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); gap: 10px;">
            <div style="display: flex; flex-direction: column; gap: 5px; width: 100%;">
                <div style="display: flex; align-items: center; gap: 10px;">
                    <div style="width: 18px; height: 18px; display: flex;">
                        <svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                            <path d="M96 160C96 142.3 110.3 128 128 128L512 128C529.7 128 544 142.3 544 160C544 177.7 529.7 192 512 192L128 192C110.3 192 96 177.7 96 160zM96 320C96 302.3 110.3 288 128 288L512 288C529.7 288 544 302.3 544 320C544 337.7 529.7 352 512 352L128 352C110.3 352 96 337.7 96 320zM544 480C544 497.7 529.7 512 512 512L128 512C110.3 512 96 497.7 96 480C96 462.3 110.3 448 128 448L512 448C529.7 448 544 462.3 544 480z" />
                        </svg>
                    </div>

                    <div>
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String1", "Footer")
                    </div>
                </div>

                @if (string.IsNullOrEmpty(usuarioId) == false)
                {
                    <a href="/wishlist" style="text-decoration: none;">@Herramientas.Idiomas.BuscarTexto(idioma, "String2", "Footer")</a>
                }

                <a href="/historical-lows" style="text-decoration: none;">@Herramientas.Idiomas.BuscarTexto(idioma, "String3", "Footer")</a>
                <a href="/bundles" style="text-decoration: none;">@Herramientas.Idiomas.BuscarTexto(idioma, "String4", "Footer")</a>
                <a href="/free" style="text-decoration: none;">@Herramientas.Idiomas.BuscarTexto(idioma, "String5", "Footer")</a>
                <a href="/subscriptions" style="text-decoration: none;">@Herramientas.Idiomas.BuscarTexto(idioma, "String6", "Footer")</a>
                <a href="/last-news" style="text-decoration: none;">@Herramientas.Idiomas.BuscarTexto(idioma, "String7", "Footer")</a>
            </div>

            <div style="display: flex; flex-direction: column; gap: 5px; width: 100%;">
                <div style="display: flex; align-items: center; gap: 10px;">
                    <div style="width: 18px; height: 18px; display: flex;">
                        <svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                            <path d="M246.9 82.3L271 67.8C292.6 54.8 317.3 48 342.5 48C379.3 48 414.7 62.6 440.7 88.7L504.6 152.6C519.6 167.6 528 188 528 209.2L528 240.1L547.7 259.8L547.7 259.8C563.3 244.2 588.6 244.2 604.3 259.8C620 275.4 619.9 300.7 604.3 316.4L540.3 380.4C524.7 396 499.4 396 483.7 380.4C468 364.8 468.1 339.5 483.7 323.8L464 304L433.1 304C411.9 304 391.5 295.6 376.5 280.6L327.4 231.5C312.4 216.5 304 196.1 304 174.9L304 162.2C304 151 298.1 140.5 288.5 134.8L246.9 109.8C236.5 103.6 236.5 88.6 246.9 82.4zM50.7 466.7L272.8 244.6L363.3 335.1L141.2 557.2C116.2 582.2 75.7 582.2 50.7 557.2C25.7 532.2 25.7 491.7 50.7 466.7z" />
                        </svg>
                    </div>

                    <div>
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String8", "Footer")
                    </div>
                </div>

                <a href="https://pepeizqapps.com/extension/pepeizq-deals" style="text-decoration: none;" target="_blank">@Herramientas.Idiomas.BuscarTexto(idioma, "String10", "Footer")</a>
                <a href="/compare" style="text-decoration: none;">@Herramientas.Idiomas.BuscarTexto(idioma, "String9", "Footer")</a>
                <a href="/filter" style="text-decoration: none;">@Herramientas.Idiomas.BuscarTexto(idioma, "String15", "Footer")</a>
            </div>

            <div style="display: flex; flex-direction: column; gap: 5px; width: 100%;">
                <div style="display: flex; align-items: center; gap: 10px;">
                    <div style="width: 18px; height: 18px; display: flex;">
                        <svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                            <path d="M320 576C461.4 576 576 461.4 576 320C576 178.6 461.4 64 320 64C178.6 64 64 178.6 64 320C64 461.4 178.6 576 320 576zM288 224C288 206.3 302.3 192 320 192C337.7 192 352 206.3 352 224C352 241.7 337.7 256 320 256C302.3 256 288 241.7 288 224zM280 288L328 288C341.3 288 352 298.7 352 312L352 400L360 400C373.3 400 384 410.7 384 424C384 437.3 373.3 448 360 448L280 448C266.7 448 256 437.3 256 424C256 410.7 266.7 400 280 400L304 400L304 336L280 336C266.7 336 256 325.3 256 312C256 298.7 266.7 288 280 288z" />
                        </svg>
                    </div>

                    <div>
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String11", "Footer")
                    </div>
                </div>

                <a href="/contact" style="text-decoration: none;">@Herramientas.Idiomas.BuscarTexto(idioma, "String12", "Footer")</a>
                <a href="/privacy" style="text-decoration: none;">@Herramientas.Idiomas.BuscarTexto(idioma, "String13", "Footer")</a>
                <a href="/cost-web" style="text-decoration: none;">@Herramientas.Idiomas.BuscarTexto(idioma, "String14", "Footer")</a>
                <a href="/last-added" style="text-decoration: none;">@Herramientas.Idiomas.BuscarTexto(idioma, "String21", "Footer")</a>
                <a href="/patreon" style="text-decoration: none;">@Herramientas.Idiomas.BuscarTexto(idioma, "String24", "Footer")</a>
            </div>

            <div style="display: flex; flex-direction: column; gap: 5px; width: 100%;">
                <div style="display: flex; align-items: center; gap: 10px;">
                    <div style="width: 18px; height: 18px; display: flex;">
                        <svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
                            <path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3 .3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5 .3-6.2 2.3zm44.2-1.7c-2.9 .7-4.9 2.6-4.6 4.9 .3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3 .7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3 .3 2.9 2.3 3.9 1.6 1 3.6 .7 4.3-.7 .7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3 .7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3 .7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z" />
                        </svg>
                    </div>

                    <div>
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String16", "Footer")
                    </div>
                </div>

                <a href="/api" style="text-decoration: none;">@Herramientas.Idiomas.BuscarTexto(idioma, "String17", "Footer")</a>
                <a href="https://github.com/pepeizq/pepeizqs-deals-blazor-web" style="text-decoration: none;">@Herramientas.Idiomas.BuscarTexto(idioma, "String18", "Footer")</a>
                <a href="https://github.com/pepeizq/pepeizq-deals-extension" style="text-decoration: none;">@Herramientas.Idiomas.BuscarTexto(idioma, "String19", "Footer")</a>
            </div>

            <div style="width: 100%; display: flex; align-items: center; justify-content: center;">
                <button onclick="moverScroll('cuerpazo')" class="subir-arriba2" style="text-decoration: none; cursor: pointer; border: 0px; width: fit-content; background-color: var(--fondoBotonPequeño); padding: 10px;" title="@Herramientas.Idiomas.BuscarTexto(idioma, "String20", "Footer")">
                    <div style="width: 40px; height: 40px;">
                        <svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                            <path d="M297.4 169.4C309.9 156.9 330.2 156.9 342.7 169.4L534.7 361.4C547.2 373.9 547.2 394.2 534.7 406.7C522.2 419.2 501.9 419.2 489.4 406.7L320 237.3L150.6 406.6C138.1 419.1 117.8 419.1 105.3 406.6C92.8 394.1 92.8 373.8 105.3 361.3L297.3 169.3z" />
                        </svg>
                    </div>
                </button>
            </div>
        </div>

        <hr style="margin: 30px 0;" />

        <div style="display: flex; align-items: start; gap: 40px; font-size: 14px; color: color-mix(in srgb, var(--colorTexto) 40%, var(--fondoBotonPequeño));">
            <div style="display: flex; flex-direction: column; gap: 10px; max-width: 70%;">
                <div>
                    @Herramientas.Idiomas.BuscarTexto(idioma, "String22", "Footer")
                </div>

                <div>
                    @Herramientas.Idiomas.BuscarTexto(idioma, "String23", "Footer")
                </div>

                <div>
                    &copy; @DateTime.Now.Year.ToString() • <a href="https://pepeizqapps.com/" style="text-decoration: none;" target="_blank">pepeizq's apps</a>
                </div>
            </div>

            <div style="margin-left: auto; display: flex; align-items: center; gap: 20px;">
                <RedesSociales idioma="@idioma" />
            </div>
        </div>
    </div>
</footer>

@code {

    #nullable disable

    [Parameter]
    public string idioma { get; set; }

    [Parameter]
    public string usuarioId { get; set; }
}
