@page "/admin/"
@page "/admin/{subpagina}/"

@rendermode InteractiveServer

@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.Data.SqlClient
@using pepeizqs_deals_web.Data

@inject IHttpContextAccessor Contexto
@inject NavigationManager NavManager
@inject IJSRuntime JavaScript

<style>
    .boton-pestañas {
        color: var(--colorTexto);
        background: transparent;
        text-align: center;
        border: 0;
        width: 100%;
        transition: transform .2s;
        font-size: 17px;
        padding: 10px 30px;
    }

    .boton-pestañas:hover {
        color: var(--colorTextoHover);
        transform: scale(1.01);
    }
</style>

<style>
    .caja-admin-indice {
        background-color: var(--fondoSubsubcabecera);
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.28),0px 0px 2px 0px rgba(0, 0, 0, 0.24);
    }
</style>

<script>
    window.ChangeUrl = function (url) {
        history.pushState(null, '', url);
    }
</script>

@if (usuarioAdmin == true)
{
    <HeadContent>
        <PageTitle>Admin</PageTitle>
    </HeadContent>

    <div style="margin: 40px 0px;">
        <div style="display: flex; align-items: start; width: 100%; font-size: 17px; gap: 40px;">
            <div style="width: 15%; display: flex; flex-direction: column; gap: 30px;">
                <div class="caja-admin-indice">
                    @if (nuevosDuplicadosCantidad > 0)
                    {
                        <button class="boton-pestañas" @onclick="MostrarDuplicados" style="@estiloDuplicados">Duplicados (@nuevosDuplicadosCantidad)</button>
                    }

                    @if (nuevosErroresCantidad > 0)
                    {
                        <button class="boton-pestañas" @onclick="MostrarErrores" style="@estiloErrores">Errores (@nuevosErroresCantidad)</button>
                    }

                    @if (nuevosPendientesCantidad > 0)
                    {
                        <button class="boton-pestañas" @onclick="MostrarPendientes" style="@estiloPendientes">Pendientes (@nuevosPendientesCantidad)</button>
                    }

                    @if (nuevosDLCsCantidad > 0)
                    {
                        <button class="boton-pestañas" @onclick="MostrarDLCs" style="@estiloDLCs">DLCs (@nuevosDLCsCantidad)</button>
                    }

                    <button class="boton-pestañas" @onclick="MostrarEnlaces" style="@estiloEnlaces">Enlaces</button>
                    <button class="boton-pestañas" @onclick="MostrarTareas" style="@estiloTareas">Tareas</button>
                    <button class="boton-pestañas" @onclick="MostrarDivisas" style="@estiloDivisas">Divisas</button>          
                </div>

                <div class="caja-admin-indice">
                    <button class="boton-pestañas" @onclick="MostrarJuegos" style="@estiloJuegos">Juegos</button>
                    <button class="boton-pestañas" @onclick="MostrarNoticias" style="@estiloNoticias">Noticias</button>
                    <button class="boton-pestañas" @onclick="MostrarBundles" style="@estiloBundles">Bundles</button>
                    <button class="boton-pestañas" @onclick="MostrarGratis" style="@estiloGratis">Gratis</button>
                    <button class="boton-pestañas" @onclick="MostrarSuscripciones" style="@estiloSuscripciones">Suscripciones</button>
                </div>

                <div class="caja-admin-indice">
                    <button class="boton-pestañas" @onclick="MostrarRecompensas" style="@estiloRecompensas;">Recompensas</button>
                    <button class="boton-pestañas" @onclick="MostrarCupones" style="@estiloCupones;">Cupones</button>
                </div>
            </div>

            <div style="width: 85%;">
                @if (mostrarEnlaces == true)
                {
                    <Enlaces/>
                }

                @if (mostrarDuplicados == true)
                {
                    <Duplicados/>
                }

                @if (mostrarErrores == true)
                {
                    <Errores/>
                }

                @if (mostrarTareas == true)
                {
                    <Tareas/>
                }

                @if (mostrarDivisas == true)
                {
                    <Divisas/>
                }

                @if (mostrarDLCs == true)
                {
                    <DLCs/>
                }

                @if (mostrarPendientes == true)
                {
                    <Pendientes />
                }

                @if (mostrarJuegos == true)
                {
                    <Juegos />
                }

                @if (mostrarNoticias == true)
                {
                    <Noticias />
                }

                @if (mostrarBundles == true)
                {
                    <Bundles />
                }

                @if (mostrarGratis == true)
                {
                    <Gratis/>
                }

                @if (mostrarSuscripciones == true)
                {
                    <Suscripciones/>
                }

                @if (mostrarRecompensas == true)
                {
                    <Recompensas/>
                }

                @if (mostrarCupones == true)
                {
                    <Cupones/>
                }
            </div>
        </div>
    </div>
}

@code {

    #nullable disable

    private string idioma = "en";
    private string usuarioId = null;

    private bool usuarioAdmin = false;

    [Parameter]
    public string subpagina { get; set; }

    protected override void OnInitialized()
    {
        if (Contexto == null || Contexto.HttpContext == null || Contexto.HttpContext.User == null || Contexto.HttpContext.User.Identity == null || Contexto.HttpContext.User.Identity.IsAuthenticated == false)
        {
            NavManager.NavigateTo("/");
            return;
        }

        Herramientas.ContextoUsuarioDatos datos = Herramientas.ContextoUsuario.Leer(Contexto);
        idioma = datos.Idioma;
        usuarioId = datos.UsuarioId;

        if (string.IsNullOrEmpty(usuarioId) == false)
        {
            usuarioAdmin = BaseDatos.Usuarios.Buscar.RolDios(usuarioId);
        }

        if (usuarioAdmin == true)
        {
            SqlConnection conexion = Herramientas.BaseDatos.Conectar();

            using (conexion)
            {
                nuevosErroresCantidad = BaseDatos.Admin.Buscar.CantidadErrores(conexion);

                if (nuevosErroresCantidad > 0)
                {
                    subpagina = subpaginaErrores;
                }

                nuevosDuplicadosCantidad = BaseDatos.Admin.Buscar.Dato("duplicados", conexion);

                if (nuevosDuplicadosCantidad > 0)
                {
                    subpagina = subpaginaDuplicados;
                }

                nuevosPendientesCantidad = BaseDatos.Pendientes.Buscar.TiendasCantidad() + BaseDatos.Pendientes.Buscar.SuscripcionCantidad() + BaseDatos.Pendientes.Buscar.StreamingCantidad() + BaseDatos.Pendientes.Buscar.PlataformaCantidad();

                if (nuevosPendientesCantidad > 0)
                {
                    subpagina = subpaginaPendientes;
                }

                nuevosDLCsCantidad = BaseDatos.Juegos.Buscar.DLCsCantidad(conexion);

                if (nuevosDLCsCantidad > 0)
                {
                    subpagina = subpaginaDLCs;
                }
            }       
        }
        else
        {
            NavManager.NavigateTo("/");
        }
    }

    protected override async Task OnAfterRenderAsync(bool primerRender)
    {
        if (primerRender == true)
        {
            await JavaScript.InvokeVoidAsync("moverScroll", "cuerpazo");

            if (string.IsNullOrEmpty(subpagina) == true)
            {
                MostrarEnlaces();
            }
            else
            {
                if (subpagina == subpaginaEnlaces)
                {
                    MostrarEnlaces();
                }
                else if (subpagina == subpaginaDuplicados)
                {
                    MostrarDuplicados();
                }
                else if (subpagina == subpaginaErrores)
                {
                    MostrarErrores();
                }
                else if (subpagina == subpaginaTareas)
                {
                    MostrarTareas();
                }
                else if (subpagina == subpaginaDivisas)
                {
                    MostrarDivisas();
                }
                else if (subpagina == subpaginaDLCs)
                {
                    MostrarDLCs();
                }
                else if (subpagina == subpaginaPendientes)
                {
                    MostrarPendientes();
                }
                else if (subpagina == subpaginaJuegos)
                {
                    MostrarJuegos();
                }
                else if (subpagina == subpaginaNoticias)
                {
                    MostrarNoticias();
                }
                else if (subpagina == subpaginaBundles)
                {
                    MostrarBundles();
                }
                else if (subpagina == subpaginaGratis)
                {
                    MostrarGratis();
                }
                else if (subpagina == subpaginaSuscripciones)
                {
                    MostrarSuscripciones();
                }
                else if (subpagina == subpaginaRecompensas)
                {
                    MostrarRecompensas();
                }
                else if (subpagina == subpaginaCupones)
                {
                    MostrarCupones();
                }

                if (nuevosErroresCantidad == 0 && nuevosDuplicadosCantidad == 0 && nuevosPendientesCantidad == 0 && nuevosDLCsCantidad == 0)
                {
                    if (subpagina == subpaginaErrores || subpagina == subpaginaDuplicados || subpagina == subpaginaPendientes || subpagina == subpaginaDLCs)
                    {
                        MostrarEnlaces();
                    }
                }
            }

            await InvokeAsync(StateHasChanged);
        }
    }

    private string fondo = "background-color: var(--fondoBotonPequeño)";
    private string fondoAlerta = "background-color: var(--fondoAlerta)";
    private string fondoPeligro = "background-color: var(--fondoPeligro)";
    private string fondoDLCs = "background-color: var(--fondoDlcs)";

    private void CerrarPestañas()
    {
        mostrarEnlaces = false;
        mostrarDuplicados = false;
        mostrarErrores = false;
        mostrarTareas = false;
        mostrarDivisas = false;
        mostrarDLCs = false;
        mostrarPendientes = false;
        mostrarJuegos = false;
        mostrarNoticias = false;
        mostrarBundles = false;
        mostrarGratis = false;
        mostrarSuscripciones = false;
        mostrarRecompensas = false;
        mostrarCupones = false;

        estiloEnlaces = null;
        estiloDuplicados = fondoAlerta;
        estiloErrores = fondoPeligro;
        estiloTareas = null;
        estiloDivisas = null;
        estiloDLCs = fondoDLCs;
        estiloPendientes = fondoAlerta;
        estiloJuegos = null;
        estiloNoticias = null;
        estiloBundles = null;
        estiloGratis = null;
        estiloSuscripciones = null;
        estiloRecompensas = null;
        estiloCupones = null;
    }

    #region Enlaces

    private bool mostrarEnlaces = false;
    private string estiloEnlaces = null;
    private string subpaginaEnlaces = "enlaces";

    private async void MostrarEnlaces()
    {
        CerrarPestañas();
        mostrarEnlaces = true;
        estiloEnlaces = fondo;

        await JavaScript.InvokeVoidAsync("ChangeUrl", "/admin/" + subpaginaEnlaces + "/");
    }

    #endregion

    #region Duplicados

    private bool mostrarDuplicados = false;
    private string estiloDuplicados = null;
    private string subpaginaDuplicados = "duplicados";
    private int nuevosDuplicadosCantidad = 0;

    private async void MostrarDuplicados()
    {
        CerrarPestañas();
        mostrarDuplicados = true;
        estiloDuplicados = fondo;

        await JavaScript.InvokeVoidAsync("ChangeUrl", "/admin/" + subpaginaDuplicados + "/");
    }

    #endregion

    #region Errores

    private bool mostrarErrores = false;
    private string estiloErrores = null;
    private string subpaginaErrores = "errores";
    private int nuevosErroresCantidad = 0;

    private async void MostrarErrores()
    {
        CerrarPestañas();
        mostrarErrores = true;
        estiloErrores = fondo;

        nuevosErroresCantidad = BaseDatos.Admin.Buscar.CantidadErrores();
        await JavaScript.InvokeVoidAsync("ChangeUrl", "/admin/" + subpaginaErrores + "/");
    }

    #endregion

    #region Tareas

    private bool mostrarTareas = false;
    private string estiloTareas = null;
    private string subpaginaTareas = "tareas";

    private async void MostrarTareas()
    {
        CerrarPestañas();
        mostrarTareas = true;
        estiloTareas = fondo;

        await JavaScript.InvokeVoidAsync("ChangeUrl", "/admin/" + subpaginaTareas + "/");
    }

    #endregion

    #region Divisas

    private bool mostrarDivisas = false;
    private string estiloDivisas = null;
    private string subpaginaDivisas = "divisas";

    private async void MostrarDivisas()
    {
        CerrarPestañas();
        mostrarDivisas = true;
        estiloDivisas = fondo;

        await JavaScript.InvokeVoidAsync("ChangeUrl", "/admin/" + subpaginaDivisas + "/");
    }

    #endregion

    #region DLCs

    private bool mostrarDLCs = false;
    private string estiloDLCs = null;
    private string subpaginaDLCs = "dlcs";
    private int nuevosDLCsCantidad = 0;

    private async void MostrarDLCs()
    {
        CerrarPestañas();
        mostrarDLCs = true;
        estiloDLCs = fondo;

        nuevosDLCsCantidad = BaseDatos.Juegos.Buscar.DLCsCantidad();
        await JavaScript.InvokeVoidAsync("ChangeUrl", "/admin/" + subpaginaDLCs + "/");
    }

    #endregion

    #region Pendientes

    private bool mostrarPendientes = false;
    private string estiloPendientes = null;
    private string subpaginaPendientes = "pendientes";
    private int nuevosPendientesCantidad = 0;

    private async void MostrarPendientes()
    {
        CerrarPestañas();
        mostrarPendientes = true;
        estiloPendientes = fondo;

        nuevosPendientesCantidad = BaseDatos.Pendientes.Buscar.TiendasCantidad() + BaseDatos.Pendientes.Buscar.SuscripcionCantidad() + BaseDatos.Pendientes.Buscar.StreamingCantidad() + BaseDatos.Pendientes.Buscar.PlataformaCantidad();
        await JavaScript.InvokeVoidAsync("ChangeUrl", "/admin/" + subpaginaPendientes + "/");
    }

    #endregion

    #region Juegos

    private bool mostrarJuegos = false;
    private string estiloJuegos = null;
    private string subpaginaJuegos = "juegos";

    private async void MostrarJuegos()
    {
        CerrarPestañas();
        mostrarJuegos = true;
        estiloJuegos = fondo;

        await JavaScript.InvokeVoidAsync("ChangeUrl", "/admin/" + subpaginaJuegos + "/");
    }

    #endregion

    #region Noticias

    private bool mostrarNoticias = false;
    private string estiloNoticias = null;
    private string subpaginaNoticias = "noticias";

    private async void MostrarNoticias()
    {
        CerrarPestañas();
        mostrarNoticias = true;
        estiloNoticias = fondo;

        await JavaScript.InvokeVoidAsync("ChangeUrl", "/admin/" + subpaginaNoticias + "/");
    }

    #endregion

    #region Bundles

    private bool mostrarBundles = false;
    private string estiloBundles = null;
    private string subpaginaBundles = "bundles";

    private async void MostrarBundles()
    {
        CerrarPestañas();
        mostrarBundles = true;
        estiloBundles = fondo;

        await JavaScript.InvokeVoidAsync("ChangeUrl", "/admin/" + subpaginaBundles + "/");
    }

    #endregion

    #region Gratis

    private bool mostrarGratis = false;
    private string estiloGratis = null;
    private string subpaginaGratis = "gratis";

    private async void MostrarGratis()
    {
        CerrarPestañas();
        mostrarGratis = true;
        estiloGratis = fondo;

        await JavaScript.InvokeVoidAsync("ChangeUrl", "/admin/" + subpaginaGratis + "/");
    }

    #endregion

    #region Suscripciones

    private bool mostrarSuscripciones = false;
    private string estiloSuscripciones = null;
    private string subpaginaSuscripciones = "suscripciones";

    private async void MostrarSuscripciones()
    {
        CerrarPestañas();
        mostrarSuscripciones = true;
        estiloSuscripciones = fondo;

        await JavaScript.InvokeVoidAsync("ChangeUrl", "/admin/" + subpaginaSuscripciones + "/");
    }

    #endregion

    #region Recompensas

    private bool mostrarRecompensas = false;
    private string estiloRecompensas = null;
    private string subpaginaRecompensas = "recompensas";

    private async void MostrarRecompensas()
    {
        CerrarPestañas();
        mostrarRecompensas = true;
        estiloRecompensas = fondo;

        await JavaScript.InvokeVoidAsync("ChangeUrl", "/admin/" + subpaginaRecompensas + "/");
    }

    #endregion

    #region Cupones

    private bool mostrarCupones = false;
    private string estiloCupones = null;
    private string subpaginaCupones = "cupones";

    private async void MostrarCupones()
    {
        CerrarPestañas();
        mostrarCupones = true;
        estiloCupones = fondo;

        await JavaScript.InvokeVoidAsync("ChangeUrl", "/admin/" + subpaginaCupones + "/");
    }

    #endregion
}
